<section class="tool-section">
    <div class="text-center">
        <h1 class="font-weight-bold mt-5 mb-5 pt-5 card-heading">One platform, multiple tools.</h1>
    </div>

    <div class="container">
        <div class="">
            <h3 class="font-weight-bold mt-3 mb-3 card-heading">PDF Organizing Tools</h3>
        </div>
        <div class="row">

            <div class="col-sm-4 mb-3">
                <a href="/pdfeditor" style="text-decoration: none; color: #000;">
                <div class="card content-card content-card-24">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/editpdf.png"
                                    class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Edit PDF files
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Edit PDF online Without converting Your Document</p>
                            </div>
                            <!-- <div class="col-2 ">
                </div> -->
                        </div>
                    </div>
                </div>
            </a>
            </div>
            
            <div class="col-sm-4 mb-3">
                <a href="/" style="text-decoration: none; color: #000;">
                <div class="card content-card content-card-red">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="https://p7.hiclipart.com/preview/733/915/602/5bedd89522d3d.jpg"
                                    class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Merge PDF Files
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Combine Multiple documents to make a single PDF with ease. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            </div>

            <div class="col-sm-4 mb-3">
                <a href="/splitpdf" style="text-decoration: none; color: #000;">
                <div class="card content-card content-card-blue">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="https://cdn.iconscout.com/icon/free/png-256/pdf-file-20-504245.png"
                                    class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Split PDF Files
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Split and Extract PDF information into multiple files.</p>
                            </div>
                            <!-- <div class="col-2 ">
                </div> -->
                        </div>
                    </div>
                </div>
            </a>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-green">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="https://avepdf.com/images/compress-pdf-rating.png" class="rounded-circle"
                                    alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Compress PDF files
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Easily compress large PDF files in just a few clicks. </p>
                            </div>
                            <!-- <div class="col-2 ">
                </div> -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-yellow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="https://avepdf.com/images/rotate-pdf-rating.png" class="rounded-circle"
                                    alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Rotate PDF Files
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Rotate One Several or all Pages of PDFs.</p>
                            </div>
                            <!-- <div class="col-2 ">
                </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <a href="/add-page-number" style="text-decoration: none; color: #000;">
                <div class="card content-card content-card-grey">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/addpages.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Add Page Numbers
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Easily insert page numbers into your PDF online</p>
                            </div>
                            <!-- <div class="col-2 ">
                </div> -->
                        </div>
                    </div>
                </div>
            </a>
            </div>

            <div class="col-sm-4 mb-3">
                <a href="/delete" style="text-decoration: none; color: #000;">
                    <div class="card content-card content-card-25">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/delete.svg" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Delete PDF Pages
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Remove PDF pages online and save result as new PDF</p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-sm-4 mb-3">
                <a href="/delete" style="text-decoration: none; color: #000;">
                    <div class="card content-card content-card-25">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/delete.svg" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Delete PDF Pages
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Remove PDF pages online and save result as new PDF</p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-sm-4 mb-3">
                <a href="/watermark-pdf" style="text-decoration: none; color: #000;">
                    <div class="card content-card content-card-20">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2 text-end align-self-start">
                                    <img src="/images/watermark.png" class="rounded-circle" alt="Icon" height="40">
                                </div>
                                <div class="col-10 d-flex flex-column justify-content-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="card-title font-weight-bold">Add Watermark
                                            <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                        </h5>
                                    </div>
                                    <p class="card-text">Add Watermark Image or text to Your PDF Document</p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </a>
               
            </div>

        </div>
    </div>
    <!-- PDF Converting Tool list -->
    <div class="container">
        <div class="">
            <h3 class="font-weight-bold mt-3 mb-3">PDF Converting Tools</h3>
        </div>
        <div class="row">
            <div class="col-sm-4 mb-3">

                <div class="card content-card content-card-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdftoword.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">PDF To Word Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Transform PDF files into editable Word documents with ease. </p>
                            </div>
                            <!-- <div class="col-2 ">
                  </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-excel.svg" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">PDF To Excel Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Transform PDF files into editable Excel Sheet with ease.</p>
                            </div>
                            <!-- <div class="col-2 ">
                  </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-ppt.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">PDF to PPT Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Transform PDF files into editable Powerpoint PPT with ease. </p>
                            </div>
                            <!-- <div class="col-2 ">
                  </div> -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-jpg.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">PDF to JPG Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Convert each PDF page into a JPG and extract JPG. </p>
                            </div>
                            <!-- <div class="col-2 ">
                  </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-7">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-png.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">PDF to PNG Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Convert each PDF page into a PNG and extract PNG. </p>
                            </div>
                            <!-- <div class="col-2 ">
                  </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-html.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">PDF to HTML Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Convert PDF to HTML in seconds ans with ease</p>
                            </div>
                            <!-- <div class="col-2 ">
                  </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-14">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-tiff.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">PDF to TIFF Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Convert PDF to TIFF in seconds ans with ease</p>
                            </div>
                            <!-- <div class="col-2 ">
                  </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-10">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-text.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">PDF to Text Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Convert PDF to Text in seconds ans with ease</p>
                            </div>
                            <!-- <div class="col-2 ">
                  </div> -->
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <!-- PDF creating Tools -->

    <div class="container">
        <div class="">
            <h3 class="font-weight-bold mt-3 mb-3">PDF Creating Tools</h3>
        </div>
        <div class="row">
            <div class="col-sm-4 mb-3">

                <div class="card content-card content-card-17">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdftoword.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Word To PDF Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Transform editable Word documents into PDF with ease. </p>
                            </div>
                            <!-- <div class="col-2 ">
                    </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-18">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-excel.svg" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Excel To PDF Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Transform editable Excel Sheets into PDF with ease.</p>
                            </div>
                            <!-- <div class="col-2 ">
                    </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-19">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-ppt.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">PPT To PDF Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Transform editable Powerpoint PPT into PDF files with ease. </p>
                            </div>
                            <!-- <div class="col-2 ">
                    </div> -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-15">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-jpg.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">JPG To PDF Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Convert JPG to PDF effortlessly with our online tool.</p>
                            </div>
                            <!-- <div class="col-2 ">
                    </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-8">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-png.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">PNG To PDF Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Transform JPG to PNG quickly with our free tool. </p>
                            </div>
                            <!-- <div class="col-2 ">
                    </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-16">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-html.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">HTML To PDF Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Easily convert PDF to HTML with our online tool.</p>
                            </div>
                            <!-- <div class="col-2 ">
                    </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-21">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-tiff.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">TIFF to PDF Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Convert TIFF to PDF in seconds ans with ease</p>
                            </div>
                            <!-- <div class="col-2 ">
                    </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-22">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdf-to-text.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Text To PDF Convert
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Convert text To PDF in seconds ans with ease</p>
                            </div>
                            <!-- <div class="col-2 ">
                    </div> -->
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <!-- PDF Sign and Security -->

    <div class="container">
        <div class="">
            <h3 class="font-weight-bold mt-3 mb-3">Sign and Security PDF Tools</h3>
        </div>
        <div class="row">
            <div class="col-sm-4 mb-3">

                <div class="card content-card content-card-10">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/esign.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">eSign PDF
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Sign PDF with Electronic Signature and Secure it </p>
                            </div>
                            <!-- <div class="col-2 ">
                      </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/unlock.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Unlock PDF
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Remove Password, Protection and permission from your PDF</p>
                            </div>
                            <!-- <div class="col-2 ">
                      </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/protect.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Protect PDF
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Add Password, authentication and Encrypt your PDF Files </p>
                            </div>
                            <!-- <div class="col-2 ">
                      </div> -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-25">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/pdftoword.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Redact PDF
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Remove sensitive data from PDF Securely.</p>
                            </div>
                            <!-- <div class="col-2 ">
                      </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card content-card content-card-15">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-end align-self-start">
                                <img src="/images/repair.png" class="rounded-circle" alt="Icon" height="40">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title font-weight-bold">Repair PDF
                                        <i class="fa fa-chevron-right align-self-end ml-2" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <p class="card-text">Repair a Corroupt or Malform PDF files.</p>
                            </div>
                            <!-- <div class="col-2 ">
                      </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</section>
