<div style="display: flex; justify-content: center; align-items: center;">
    <div class="card pt-5 pb-5" style="width: 90%; background-color: #F2F6FF;">
      <div class="row g-0">
        <div class="col-md-5">
          <img src="/images/pdfverce.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h2 class="card-title font-weight-bold">How To Edit PDF Online for Free</h2>
            <p class="card-text">
                To edit your PDF document using our PDF Editor, follow these steps:
              </p>
              <ul class="list-unstyled">
                <li class="ml-4 mb-3">1. Upload or drop your PDF document into the PDF Editor</li>
                <li class="ml-4 mb-3">2. Add text, images, and annotations from the Mark up tab</li>
                <li class="ml-4 mb-3">3. Edit existing text from the Edit tab—this is a pro feature</li>
                <li class="ml-4 mb-3">4. Rearrange, extract, and split pages from the Organize tab</li>
                <li class="ml-4 mb-3">5. Download or export your edited PDF in Word, Excel, JPG, or PPT</li>
              </ul>
              
          </div>
        </div>
      </div>
    </div>
  </div>
