<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/css/nav-style.css">
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-fnF6F1HjJTO2fU7+6zP6o7hX9zqnQJ7NO6vK4Qxp8l+4+AjWl/PfJzSFCfK5p5a5"
		crossorigin="anonymous"></script>
</head>

<body>

	<nav>
		<div class="nav-container">
			<a href="#" class="brand"><img src="https://i.ibb.co/8mT8MT1/pdf-verse-removebg-preview.png" width="180" height="180" alt="" srcset=""></a>
			<ul class="nav-menu">

				<li>
					<i class="fa-solid fa-border-all fontawesometool"></i>
					<a href="#" style="margin-left: 10px;">Tools <i class='bx bx-chevron-down'></i></a>
					<div class="dropdown-menus">
						<div class="nav-container">
							<div class="left-section">
								<span class="dropdown-close"><i class='bx bx-chevron-left'></i> Back</span>
								<h1>About PDF Verse</h1>
								<p class="dropdown-about">PDF Verse is an easy-to-use web-based PDF editing tool that allows users to merge, split, compress, and convert PDFs into various formats. With OCR technology, users can also extract text from scanned documents. Perfect for individuals and businesses, PDF Verse streamlines workflows and simplifies PDF editing tasks with its intuitive interface.
								</p>
								<a href="#" class="btn-see-all">See More</a>

							</div>
							<div class="right-section">
								<h3>PDF Organizing Tools</h3>
								<ul class="dropdown-links">
									<li>
										<a href="/pdfeditor">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Edit PDF files </h5>
												<p>Edit PDF online Without converting Your Document</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Merge PDF Files </h5>
												<p>Combine Multiple documents to make a single PDF with ease.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="splitpdf">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Split PDF Files </h5>
												<p>Split and Extract PDF information into multiple files.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Compress PDF files </h5>
												<p>Easily compress large PDF files in just a few clicks.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Rotate PDF Files </h5>
												<p>Rotate One Several or all Pages of PDFs.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Add Page Numbers </h5>
												<p>Easily insert page numbers into your PDF online</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/watermark-pdf">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Add Watermark </h5>
												<p>Add Watermark Image or text to Your PDF Document</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/delete">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Delete PDF Pages</h5>
												<p>Remove PDF pages online and save result as new PDF</p>
											</div>
										</a>
									</li>
								</ul>

								<!-- PDF Converting Tools -->
								<h3 class="mt-4 mb-5">PDF Converting Tools</h3>
								<ul class="dropdown-links">
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF To Word Convert </h5>
												<p>Transform PDF files into editable Word documents with ease.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF To Excel Convert </h5>
												<p>Transform PDF files into editable Excel Sheet with ease.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF to PPT Convert </h5>
												<p>Transform PDF files into editable Powerpoint PPT with ease.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF to JPG Convert </h5>
												<p>Convert each PDF page into a JPG and extract JPG.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF to PNG Convert </h5>
												<p>Convert each PDF page into a PNG and extract PNG.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF to JSON Convert </h5>
												<p>Convert PDF to JSON in seconds ans with ease</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF to TIFF Convert </h5>
												<p>Convert PDF to TIFF in seconds ans with ease</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF to Text Convert </h5>
												<p>Convert PDF to Text in seconds ans with ease</p>
											</div>
										</a>
									</li>
								</ul>

								<!-- PDF Creating Tools -->

								<h3 class="mt-4 mb-5">PDF Creating Tools</h3>
								<ul class="dropdown-links">
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Word To PDF Convert </h5>
												<p>Transform editable Word documents into PDF with ease.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Excel To PDF Convert </h5>
												<p>Transform editable Excel Sheets into PDF with ease.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PPT To PDF Convert </h5>
												<p>Transform editable Powerpoint PPT into PDF files with ease.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>JPG To PDF Convert </h5>
												<p>Convert JPG to PDF effortlessly with our online tool.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PNG To PDF Convert </h5>
												<p>Transform JPG to PNG quickly with our free tool.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>HTML To PDF Convert </h5>
												<p>Easily convert PDF to JSON with our online tool.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>TIFF to PDF Convert </h5>
												<p>Convert TIFF to PDF in seconds ans with ease</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Text To PDF Convert </h5>
												<p>Convert text To PDF in seconds ans with ease</p>
											</div>
										</a>
									</li>
								</ul>

								<!-- Sign and Security of PDF -->

								<h3 class="mt-4 mb-5">Sign and Security Tools</h3>
								<ul class="dropdown-links">
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>eSign PDF</h5>
												<p>Transform editable Word documents into PDF with easSign PDF with
													Electronic Signature and Secure it.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Unlock PDF </h5>
												<p>Remove Password, Protection and permission from your PDF</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Protect PDF </h5>
												<p>Add Password, authentication and Encrypt your PDF Files</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Redact PDF</h5>
												<p>Remove sensitive data from PDF Securely..</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Repair PDF </h5>
												<p>Repair a Corroupt or Malform PDF files.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>HTML To PDF Convert </h5>
												<p>Easily convert PDF to JSON with our online tool.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>TIFF to PDF Convert </h5>
												<p>Convert TIFF to PDF in seconds ans with ease</p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Text To PDF Convert </h5>
												<p>Convert text To PDF in seconds ans with ease</p>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="#">Resume Maker</a>
				</li>
				<li>
					<a href="#">Source Code</a>
				</li>
				<li>
					<a href="#">Other Projects</a>
				</li>
				<!-- <li>
					<button type="button" class="btn btn-primary">Login</button>
				</li> -->

			</ul>
			<i class='bx bx-menu toggle-navbar'></i>
		</div>
	</nav>

	<script src="/js/script.js"></script>
</body>

</html>