<div class="container-fluid mb-5 pt-1 pb-5" style="background-color: #fff;">
    <div class="text-center mt-5"> 
        <h1 class="font-weight-bold services-head">Why Choose PDF Verse?</h1>
    </div>
    <div class="row" >
        <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div>
                    <h4 class="services-h4">Manipulate document</h4>
                    <p class="services-p">Manipulate and share your document with the world! Use the Compress tool to reduce the size of your document & make electronic distribution easier. PDF verse also allows you to merge, split, rotate or watermark PDFs. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services speedup">
                    <div class="icon"> <img src="https://i.imgur.com/v6OnUqu.png"> </div>
                    <h4 class="services-h4">100% Secure Tools</h4>
                    <p class="services-p">Our PDF tools are designed with security in mind, and we take every measure to ensure that your documents are safe and secure. In most cases, PDF files are not uploaded to our server.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services privacy">
                    <div class="icon"> <img src="https://i.imgur.com/AgyneKA.png"> </div>
                    <h4 class="services-h4">Access from anywhere</h4>
                    <p class="services-p">PDF Verse is entirely online, there's no software to download. Access and edit PDF files from any modern browser: Chrome, IE, Firefox, Opera or Safari making them a convenient option for sharing and distributing. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services backups">
                    <div class="icon"> <img src="https://i.imgur.com/vdH9LKi.png"> </div>
                    <h4 class="services-h4">Open Source Supports</h4>
                    <p class="services-p">PDFverse is a free and open-source tool our service is completely free to use, and the source code is available on GitHub for anyone to access and contribute to. We are committed to keeping PDFverse open to updates, so we can continue to improve the tool.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services ssl">
                    <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png "> </div>
                    <h4 class="services-h4">Languages Used</h4>
                    <p class="services-p">PDF Verse is written using NodeJs, ExpressJs as Backend with PDF-Lib been used for PDF operation handling and Multer been used to upload PDF documents and frontend been written in EJS as it is lite weight and beginner friendly to understand.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services database">
                    <div class="icon"> <img src="https://i.imgur.com/VzjZw9M.png"> </div>
                    <h4 class="services-h4">Smooth Management</h4>
                    <p class="services-p">Experience a correlative PDF management and systemic sharing system for better workflow. Get all the elements of collaboration, storage, and auditing essentials for your PDF documents.</p>
                </div>
            </div>
        </div>
    </div>
</div>