<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Page Numbers to PDF</title>
  </head>
  <body>
    <h1>Add Page Numbers to PDF</h1>
    <form method="POST" action="/add-page-number" enctype="multipart/form-data">
      <label for="pdfFile">Select PDF file to add page numbers to:</label>
      <input type="file" name="pdfFile" id="pdfFile" required>
      <br>
      <label for="format">Select position of page numbers:</label>
      <select name="format" id="format">
        <option value="bottom-right">Bottom Right</option>
        <option value="bottom-middle">Bottom Middle</option>
        <option value="bottom-left">Bottom Left</option>
        <option value="top-right">Top Right</option>
        <option value="top-middle">Top Middle</option>
        <option value="top-left">Top Left</option>
      </select>
      <br>
      <label for="size">Select size of page numbers:</label>
      <select name="size" id="size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
      </select>
      <br>
      <button type="submit">Add Page Numbers</button>
    </form>
  </body>
</html>
